body {
  /* Reset*/
  box-sizing: border-box;
  height: 100vh;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
.background {
  height: 45%;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./images/cosmos_mobile.jpg");
}
@media screen and (min-width: 426px) {
  .background {
    height: 400px;
    background-size: auto;
  }
}
@media screen and (min-width: 768px) {
  .background {
    background-color: black;
  }
}
.navbar-ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  background-color: slategray;
  height: 50px;
  align-items: center;
}

.navbar-li {
  color: gold;
  border: 1px solid silver;
  border-radius: 6px;
}
a {
  text-decoration: none;
  color: gold;
}

/*media font-size*/
@media screen and (min-width: 768px) {
  a,h2,ul,p,button {
    font-size: large;
  }
}
@media screen and (min-width: 1024px) {
  a,h2,ul,p,button {
    font-size: x-large;
  }
}
@media screen and (min-width: 1440px) {
  a,h2,ul,p,button {
    font-size: xx-large;
  }
}

.navbar-li:hover,
a:hover {
  background-color: gold;
  color: black;
}
.caroussel {
  background-repeat: no-repeat;
  background-color: black;
  height: 70%;
  background-size: contain;
  background-position: center;
  background-image: url("./images/caroussel.jpg");
}
.welcome {
  height: 30%;
  background-color: linen;
}

.footer {
  height: 5%;
}

.scrollUp {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

h2,
.story-ul {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Spectral", serif;
}
h1,
.story-title {
  text-align: center;
  color: gold;
  background-color: firebrick;
  margin-bottom: 0;
  margin-top: 0;
}
.story-ul {
  background-color: palegoldenrod;
  margin-top: 0;
  margin-bottom: 0;
}

.story-img {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 426px) {
  .story-img {
    height: 100vh;
    background-repeat: no-repeat;
  }
  .story-armure:nth-child(2) > .story-img {
    height: 50vh;
  }
}

@media screen and (min-width: 769px) {
  .story-img {
    background-size: contain;
    background-color: black;
  }
}
